# Compiled JavaScript and Source Map files
# Depending on your build configuration (e.g., in tsconfig.json), 
# you might need to adjust these paths.
*.js
*.js.map

# Node dependencies
node_modules/

/dist
/build
/output

.env
.env.*

.vscode/